* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 760px;
    margin: 0 auto;
}

.square{
    display: inline-block;
}

.product{
    position: relative;
    width: 250px;
}

.product:hover .image{
    display: none;
}

.product:hover .image-hidden{
    display: inline;
}

.product .image{
    display: inline;
     width: 100%;
     height: auto;
     position: relative;
}

.image-hidden{
    width: 100%;
    height: auto;
    position: relative;
    display: none;
}

.heart-icon{
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    vertical-align: auto;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.badge{
    color: white;
    padding: 5px;
}

.discount{
    background-color: red;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.sustainability{
    background-color: #00875A;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

#special{
    background-color: #00875A;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.description .name{
    font-weight: bold;
}

.description .price{
    color: #EC0037;
    font-weight: 400;
}

.old-price{
    color: black;
}
